<br />


<section class="hero is-transparent is-bold">
    <%= render :partial => 'layouts/hero' %>
</section>
<% if current_user %>
  <section>
      <div class="container">
      <div class="card">
        <div class = "card-content">
        <button id="new-deal-modal-button" class="button is-danger is-outlined">Add a new deal</button>
        </div>
      </div>
      <div class='card'>
       <%= render :partial => '/articles/new_article_form' %>
      </div>

      <div class="modal" id="new-deal-modal" aria-labelledby="modal-title" role="dialog" aria-hidden="true">
        <div class="modal-background"></div>
        <div role="document" class="modal-content">
            <h2 class="title is-2">Add a new deal</h2>
            <%= render :partial => '/deals/new_deal' %>
        </div>
        <button class="modal-close" aria-label="Close this dialog window"></button>
      </div>
    </div>
  </section>
  <br />
<% end %>

<section>
  <div class="container">
    <div class="columns" id="feed-column">
      <div class="column is-half is-offset-one-quarter" id="feed-column-pages">
          <%= render partial: 'feeds/feed_item', locals: { feed_items: @feed_items } %>
      </div>
    
      <br />
      <br />
      <div class="column is-half is-offset-one-quarter">
        <p class="pagination">
          <%= link_to_next_page(@feed_items, 'Next Page', remote: true) %>
        </p>
      </div>
    </div>
    <br />
  </div>


</section>
