<div class="card">
  <div class="post-image">
    <figure id="p-image">
      <%= image_tag article.image_url %>
    </figure>
  </div>
  <div>
    <p class="card-header-title title is-5"><%= article.title %>
    </p>
    <p class="subtitle is-6 publisher"><i><%= article.publisher_name %></i>
    </p>
  </div>
  <div class="card-content article-content">
        <div class="content">
      <%= article.description %>
    </div>
  </div>
</div>
<br />
<%= simple_form_for :article, url: articles_path, method: 'post' do |content| %>
  <%= content.input :url, as: :hidden , input_html: { value: @url } %>
  <%= content.input :title, as: :hidden %>
  <%= content.input :image_url, as: :hidden %>
  <%= content.input :publisher, as: :hidden, input_html: { value: article.publisher_name }  %>
    <%= content.input :description, as: :hidden %>
  <%= content.submit 'Post' , :class => "button is-success" %>
<% end %>


