<h1>Edit <%= @retailer.name %></h1>

<%= simple_form_for [:admin, @retailer] do |f| %>
    <%= f.input :name %>
	<%= f.input :host_url %>
    <%= f.input :tracking_link %>
    <%= f.input :part_url %>
    <%= f.input :brief_description %>
    <%= f.input :strap_line %>
    <%= f.input :html_meta_description %>
    <%= f.input :description %>
    <%= f.input :internal_notes %>
    <%= f.input :admin_notes %>
    <%= f.input :support_notes %>
    <%= f.input :search_keywords %>
    <%= f.input :facebook_url %>
    <%= f.input :instagram_url %>
    <%= f.input :favicon %>
    <%= image_tag @retailer.logo_url %>
    <%= f.input :logo %>
    <%= f.input :cover %>
    <%= f.submit 'Update' %>
<% end %>