	<% if current_user.try(:admin?) %>
	<div>
		Export Retailers to: <%= link_to "CSV", retailers_path(format: 'csv') %> | <%= link_to "Excel", retailers_path(format: 'xlsx') %>

				
		<%= form_tag import_retailers_path, multipart: true do %>
			<%= file_field_tag :file, accept: 'text/csv' %>
			<%= submit_tag "Import Retailers" %>
		<% end %>
	</div>
<% end %>

<br />
<br />
<div id="main">
	<h1><%= @retailer_type.present? ? @retailer_type : "All Shops" %></h1>
	<% @retailers.each do |retailer| %>
		<div class="retailer-row">
			<div class='retailer-logo'><%= image_tag retailer.logo %></div>
			<div class='retailer-body'>
				<h2><%= retailer.name %></h2>
				<p><%= retailer.strap_line %></p>
				<p><%= link_to image_tag '/faceboo.png', retailer.facebook_url if retailer.facebook_url.present? %>
				<%= link_to image_tag '/instagram.png', retailer.instagram_url if retailer.instagram_url.present? %></p>
			</div>
		</div>
	<% end %>
</div>