<div class = "retailer-banner">
<%= image_tag @retailer.logo %>
<br />
<h1><% if @retailer.tracking_link.present? %>
      <%= link_to @retailer.name, @retailer.tracking_link, target: "_blank", 'data-gtm-event' => 'retailerIndexUrlClicked' %>
    <% else %>
      <%= link_to @retailer.name, @retailer.host_url, target: "_blank", 'data-gtm-event' => 'retailerIndexUrlClicked' %>
    <% end %>
  </h1>

<%= link_to image_tag('facebook.png', class: 'social-icon'), @retailer.facebook_url, 'data-gtm-event' => 'retailerShowFBClicked', 'data-gtm-variable' => "#{@retailer.name}" %>
<%= link_to image_tag('instagram.png', class: 'social-icon'), @retailer.instagram_url, 'data-gtm-event' => 'retailerShowInstaClicked', 'data-gtm-variable' => "#{@retailer.name}" %>
</div>
<div>
<%= @retailer.brief_description %>
</div>
<div>
<%= @retailer.html_meta_description %>
</div>
<div>
<%= @retailer.description %>
</div>
<div class="retailer-banner">
<% if @retailer.tracking_link.present? %>
      <%= link_to 'Show nop', @retailer.tracking_link, target: "_blank", 'data-gtm-event' => 'retailerIndexUrlClicked', :class => 'btn blue' %>
    <% else %>
      <%= link_to 'Shop now', @retailer.host_url, target: "_blank", 'data-gtm-event' => 'retailerIndexUrlClicked', :class => 'btn blue' %>
<% end %>
</div>
<br />
<br />

<div class="retailer-cards">
    <% @retailer.deals.each do |deal| %>
        <%= render :partial => '/deals/deal_card', :locals => {:deal => deal} %>
    <% end %>
</div>