<h1><%= @retailer.name %></h1>

<%= @retailer.name %>
<%= @retailer.host_url %>
    <%= @retailer.part_url %>
    <%= @retailer.brief_description %>
    <%= @retailer.html_meta_description %>
    <%= @retailer.description %>
    <%= @retailer.internal_notes %>
    <%= @retailer.admin_notes %>
    <%= @retailer.support_notes %>
    <%= @retailer.search_keywords %>
    <%= @retailer.facebook_url %>
    <%= @retailer.instagram_url %>
    <%= @retailer.favicon %>
    <%= @retailer.logo %>
    <%= @retailer.cover %>
    <%= @retailer.created_at %>
    <% end %>