<div class = "retailer-banner">
<%= image_tag @retailer.logo %>
<br />
<h1><%= link_to @retailer.name, @retailer.host_ur, 'data-gtm-event' => 'retailerIndexUrlClicked' %></h1>

<%= link_to image_tag('facebook.png', class: 'social-icon'), @retailer.facebook_url, 'data-gtm-event' => 'retailerShowFBClicked', 'data-gtm-variable' => "#{@retailer.name}" %>
<%= link_to image_tag('instagram.png', class: 'social-icon'), @retailer.instagram_url, 'data-gtm-event' => 'retailerShowInstaClicked', 'data-gtm-variable' => "#{@retailer.name}" %>
</div>
<div>
<%= @retailer.brief_description %>
</div>
<div>
<%= @retailer.html_meta_description %>
</div>
<div>
<%= @retailer.description %>
</div>


<div class="cards">
    <% @retailer.deals.each do |deal| %>
        <%= render :partial => '/deals/deal_card', :locals => {:deal => @deal} %>
    <% end %>
</div>