<div class="card">
	<div class="card-inner">
		<%= link_to deal.deeplink.html_safe, 'data-gtm-event' => 'dealClicked', 'data-gtm-variable' => "#{deal.retailer.name}", :target => "_blank" do %>
			<div class="card-image">
				<div class='deal-logo'>
					<% if deal.retailer.logo.present? %>
						<%= image_tag deal.retailer.logo alt: "#{deal.retailer.name} logo" %>
					<% end %>
				</div>
				<%= image_tag deal.picture.present? ? deal.picture : 'deal_image_holder.png', :class => 'deal_image', alt: "#{deal.retailer.name} deal image" %>
				<div class="card-header">
					<span class="highlight card-title"><%= deal.title %></span>
				</div>
			</div>
			<div class="card-copy-cta pink">Get this Deal Now</div>
		<% end %>
		<div class="card-copy">
			<div class="message"><%= deal.message.html_safe %>
			<br />
				<p class="center">check out <%= link_to "this deal", deal_path(deal), :class => "highlight" %> from <%= link_to deal.retailer.name, retailer_path(deal.retailer), :class => "highlight" %></p>
			</div>
			<div class="more-click" data-gtm-event='dealShowMoreClicked', data-gtm-variable = "#{deal.retailer}">Show More</div>
		</div>
	</div>
</div>