<h1>Edit Deals</h1>

<%= form_tag update_multiple_deals_path do %>
	<table class="multiple-edit">

		<% @deals.each do |deal| %>
			<%= simple_fields_for "deals[]", deal do |f| %>
			<tr>
				<td><%= f.input :title %></td>
				<td><%= f.input :message %></td>
			</tr>
			<tr>
				<td>					
					<%= f.input :picture %>
					<%= deal.picture %>
					</td>
				<td><%= f.input :deeplink %>
				<%= f.input :retailer_id, label: "Retailers", collection: Retailer.all %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
	<%= link_to 'Cancel', deals_path, class: "butotn" %> 
	<%= submit_tag "Post" %>
<% end %>