<% if @gender.present? %>
<h1><%= @gender.name.capitalize %></h1>
	<p><%= @gender.description %></p>
<% else %>
<h1>Fashion Deals</h1>
<p>Browse the latest deals and discounts on clothing, shoes and accessories</p>
<% end %>


<% if current_user %>
  <button data-open-modal="new-deal-modal" class="feed-button">Add a new deal</button>

<div data-modal="new-deal-modal" aria-labelledby="example-modal-title" class="modal-wrapper"
     role="dialog" aria-hidden="true">
  <div class="modal-overlay" data-close-modal></div>
  <div role="document" class="modal">
    <header role="banner">
      <h2 id="example-modal-title">Add a new deal</h2>
      <button data-close-modal class="modal-close-button" aria-label="Close this dialog window">
        &times;
      </button>
    </header>
    <div>
      <%= render :partial => '/deals/new_deal' %>
    </div>
  </div>
</div>
<% end %>

<br />
<br />

<div class="cards">
	<% @deals.from_now.each do |deal| %>
    <% if deal.ends.present? %>
      <% if deal.ends > Time.zone.today %>
  		  <%= render :partial => '/deals/deal_card', :locals => {:deal => deal} %>
      <% else %>
        <%= render :partial => '/deals/expired_deal_card', :locals => {:deal => deal} %>
      <% end %>
    <% else %>
      <%= render :partial => '/deals/deal_card', :locals => {:deal => deal} %>
    <% end %>
	<% end %>
</div>