<h1>Add new deal</h1>

<%= simple_form_for @deal do |f| %>
	<%= f.input :title %>
	<%= f.input :picture %>
	<%= f.input :message %>
	<%= f.input :deeplink %>
	<%= f.input :retailer_id, collection: Retailer.all %>
	<%= f.submit "Post" %>
<% end %>