<br />
<br />
<div class="container">
  <h1 class="title is-1">Publishers</h1>
  <div class="columns">
    <table class="table">
      <thead>
        <td>Name</td>
        <td>Host</td>
        <td>Title</td>
        <td>Description</td>
        <td>Image</td>
      </thead>
      <tbody>
        <% @publishers.each do |publisher| %>
          <tr>
            <td><%= link_to publisher.name, edit_admin_publisher_path(publisher) %></td>
            <td><%= publisher.host_url %></td>
            <td><%= publisher.title_find %></td>
            <td><%= publisher.description_find %></td>
            <td><%= publisher.image_find %></td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>
<br />