<h1>Edit Deals</h1>

<%= form_tag update_multiple_admin_deals_path, method: 'put' do %>
	<table class="multiple-edit">

		<% @deals.each do |deal| %>
			<%= simple_fields_for "deals[]", deal do |f| %>
			<tr>
				<td class="image-td">
					<%= image_tag deal.picture, class: 'table-image' %>
				</td>
				<td>
					<%= f.input :title, wrapper_html: {class: 'inline-form'}  %>
					<%= f.input :deeplink, wrapper_html: {class: 'inline-form'} %>
					<%= f.input :retailer_id, label: "Retailers", collection: Retailer.all, wrapper_html: {class: 'inline-form'} %>
					<%= f.input :gender_id, label: 'Type', collection: Gender.all, value_method: :id, wrapper_html: {class: 'inline-form'}, input_html: {class: 'gender-type'} %>
					<%= f.input :subcategory_id, label: "category", collection: Subcategory.all, wrapper_html: {class: 'inline-form'}, input_html: {class: 'subcategory-options'} %>
					<%= f.input :picture, wrapper_html: {class: 'inline-form'} %>
					<%= f.input :slug, wrapper_html: {class: 'inline-form'} %>
				</td>
				<td><%= f.input :message, input_html: {class: 'message-box'} %>
				<%= f.input :starts, as: :date, html5: true, wrapper_html: {class: 'inline-form'} %>
  			<%= f.input :ends, as: :date, html5: true, wrapper_html: {class: 'inline-form'} %>
  			</td>

				</tr>
			<% end %>
		<% end %>
	</table>
	<%= link_to 'Cancel', deals_path, class: "button" %> 
	<%= submit_tag "Update" %>
<% end %>

<script>
	$(document).ready(function() {
		$('.gender-type').change(function() {
			selection = $(this).val();
			genderInput = $(this)
			genderInput.parent().next().children('.subcategory-options').empty().append('<option value=""></option>');
			console.log(selection);
			$.ajax({
				type: 'GET',
				url: "<%= subcategory_options_admin_deals_path %>",
				dataType: "text",
				data: "gender=" + selection
			}).done(function(data) {
				console.log(genderInput.parent().next().children('.subcategory-options').val());
				$.each(JSON.parse(data), function(index, element) {
						genderInput.parent().next().children('.subcategory-options').append($('<option>', {
							value: parseInt(element.id),
							text: element.name
						}));						
				})
			})
		})
	})
</script>