<h1>Edit Deal</h1>

<%= simple_form_for @deal do |f| %>
  <%= f.input :title %>
  <%= f.input :picture %>
  <%= f.input :message %>
  <%= f.input :gender_id, label: 'Type', collection: Gender.all, value_method: :id, wrapper_html: {class: 'inline-form'}, input_html: {class: 'gender-type'} %>
          <%= f.input :subcategory_id, label: "category", collection: Subcategory.all, wrapper_html: {class: 'inline-form'}, input_html: {class: 'subcategory-options'} %>
  <%= f.input :starts, as: :date, html5: true %>
  <%= f.input :ends, as: :date, html5: true %>
  <%= f.input :deeplink %>
  <%= f.input :slug %>
  <%= f.input :retailer_id, collection: Retailer.all.order(:name) %>
  <%= f.submit "Post" %>
<% end %>