<h1>Tools</h1>

Export Deals to: <%= link_to "CSV", admin_deals_path(format: 'csv') %> | <%= link_to "Excel", deals_path(format: 'xlsx') %>

<br />

<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Multiple Deals</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Edit Deals</h1>
      <p class="modal-intro">Select multiple deals to edit.</p>
      <p class="modal-content">
    <%= form_tag edit_multiple_admin_deals_path, method: :get do %>
      <table>
        <tr>
          <th></th>
          <th>Title</th>
        </tr>

        <% @deals.each do |deal| %>
          <%= simple_fields_for "deals[]" do |f| %>
          <tr>
            <td><%= check_box_tag 'deal[deal_ids][]', deal.id, checked = false, {id: dom_id(deal)} %>
            <td><%= deal.title %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
      <%= submit_tag "Edit Multiple" %>
    <% end %>

      </p>
    </div>
  </div>
</div>

<div>
  <%= form_tag import_admin_deals_path, multipart: true do %>
    <%= file_field_tag :file, accept: 'text/csv' %>
    <%= submit_tag "Import Deals" %>
  <% end %>
</div>


<table>
  <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
    </tr>
  <% @messages.each do |message| %> 
    <tr>
      <td><%= message.name %></td>
      <td><%= message.email %></td>
      <td><%= message.subject %></td>
      <td><%= message.message %></td>
    </tr>
  <% end %>
</table>

<table>
  <%= @subcategories.each do |sub| %>
  <tr>
    <td><%= sub.id %></td>
    <td><%= sub.name %></td>
    <td><%= sub.category_id %></td>
  </tr>
  <% end %>
</table>

<script>
$(document).ready(function() {
  $("#modal-1").on("change", function() {
    if ($(this).is(":checked")) {
      $("body").addClass("modal-open");
    } else {
      $("body").removeClass("modal-open");
    }
  });

  $(".modal-fade-screen, .modal-close").on("click", function() {
    $(".modal-state:checked").prop("checked", false).change();
  });

  $(".modal-inner").on("click", function(e) {
    e.stopPropagation();
  });
})
</script>