<div class="footer-logo">
    <%= link_to image_tag("Fash-logomark.png", alt: "logo image"), root_path, class: "mobile-logo" %>
</div>
  <a href="javascript:void(0)">About</a>
    <p>Looking for Fashion? We've got the steals. Browser the latest fashion deals and discounts</p>
  <%= link_to "Contact", contact_path %>
  <%= link_to "Privacy Policy", privacy_policy_path %>
  <% if current_user.try(:admin?) %>
  <%= link_to 'Admin', admin_deals_path %>
  <% end %>
  <%= link_to 'Sitemap', sitemap_url %>