<div class="centered-navigation-wrapper">

  <%= link_to image_tag("fash-logomark-black-transp.png", alt: "logo image"), root_path, class: "mobile-logo" %>
  <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>

  <nav role="navigation">
    <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
      <li class="nav-link logo">
          <%= link_to image_tag("Fash-black-transp4x.png", alt: "logo image"), root_path, class: "logo", 'data-gtm-event' => "logoClicked" %>
      </li>
      <li id="js-centered-more" class="nav-link more"><%= link_to 'Men', men_path, 'data-gtm-event' => "menClicked" %> 
        </li>
      <li id="js-centered-more" class="nav-link more"><%= link_to 'Women', women_path, 'data-gtm-event' => "womenClicked" %> 
        </li>

      <li id="js-centered-more" class="nav-link more"><%= link_to 'Beauty', beauty_path, 'data-gtm-event' => "beautyClicked" %> 
        </li>

      <li id="js-centered-more" class="nav-link more"><%= link_to 'Shops', retailers_path, 'data-gtm-event' => "retailerClicked" %></a>
        <ul class="submenu">
          <% @retailer_categories.each do |category| %>
          <li><%= link_to category, retailers_path(category: category), 'data-gtm-event' => "#{category}Clicked" %></li>
          <% end %>
        </ul>
      </li>

    </ul>
  </nav>

</div>