  <nav role="navigation" class="nav grad has-shadow">

      <div class="nav-left">
        <div class="nav-item">
          <%= link_to image_tag("Fash-black-transp4x.png", alt: "logo image"), root_path, class: "logo is-hidden-mobile", 'data-gtm-event' => "logoClicked" %>
          <%= link_to image_tag("fash-logomark-black-transp.png", alt: "logo image"), root_path, class: "mobile-logo is-hidden-tablet" %>
        </div>

        <%= link_to 'Men', men_path, class: "nav-item is-tab is-hidden-mobile", 'data-gtm-event' => "menClicked" %>
        <%= link_to 'Women', women_path, class: "nav-item is-tab is-hidden-mobile", 'data-gtm-event' => "womenClicked" %>
        <%= link_to 'Beauty', beauty_path, class: "nav-item is-tab is-hidden-mobile", 'data-gtm-event' => "beautyClicked" %>
        <div class="nav-item">
          <a id="shop-dropdown">
            Shops
          </a>
            <div class="dropdown" id="drop-menu">
              <ul>
                <% @retailer_categories.each do |category| %>
                  <li><%= link_to category, retailers_path(category: category), class: "nav-item", 'data-gtm-event' => "#{category}Clicked" %></li>
                <% end %>
              </ul>
          </div>
          </div>
      </div>
        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>

      <div  id="nav-hamburger" class="nav-right nav-menu">
        <%= link_to 'Men', men_path, class: "nav-item is-tab is-hidden-tablet", 'data-gtm-event' => "menClicked" %>
        <%= link_to 'Women', women_path, class: "nav-item is-tab is-hidden-tablet", 'data-gtm-event' => "womenClicked" %>
        <%= link_to 'Beauty', beauty_path, class: "nav-item is-tab is-hidden-tablet", 'data-gtm-event' => "beautyClicked" %>
      </div>

  </nav>

<script>
  $(document).ready(function() {
    $('.nav-toggle').click(function() {
      $('#nav-hamburger').toggleClass('is-active');
    });

    $('#shop-dropdown').click(function() {
      $('#drop-menu').toggleClass('is-open');
    });
  })
</script>