<!DOCTYPE html>
<html>
<head>
  <title>Browse the latest fashion deals and discounts - FashSteals</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">
  <%= favicon_link_tag(source='favicon.ico') %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="verification" content="70d3afe3ca46f1a43f7ac88b3699da73" />
  <%= csrf_meta_tags %>
</head>
<body class=<%= 'grad' if !controller.class.parents.include?(Admin) %>>
<%= google_tag_manager %>

<header class="centered-navigation <%= controller.class.parents.include?(Admin) ? 'yellow' : 'white-transparent' %>" role="banner">
  <%= render 'layouts/header' %>
</header>

<div class="container">
  <% if controller_name == 'deals' && !controller.class.parents.include?(Admin) %>
  <div class = "feed">
  <% end %>
  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
    <br />
    <br />
  <% end %>
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
    <br />
    <br />
  <% end %>
	 <%= yield %>
  <% if controller_name == 'deals' && !controller.class.parents.include?(Admin) %>
  </div>
  <% end %>
</div>

<footer class="footer" role="contentinfo">
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
