<!DOCTYPE html>
<html>
<head>
  <title>Salesfeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<% if current_user %>
		You're signed in as <%= current_user.email %>
		<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
		Export to: <%= link_to "CSV", deals_path(format: 'csv') %> | <%= link_to "Excel", deals_path(format: 'xlsx') %>

				
		<%= form_tag import_deals_path, multipart: true do %>
			<%= file_field_tag :file, accept: 'text/csv' %>
			<%= submit_tag "Import" %>
		<% end %> 
	<% else %>
		<%= link_to "Sign in", new_user_session_path %>
		<%= link_to "Sign up", new_user_registration_path %>
	<% end %>

	<% if notice.present? %>
		<p class="notice"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
		<p class="alert"><%= alert %></p>
	<% end %>

	<%= yield %>
</div>
</body>
</html>
