<!DOCTYPE html>
<html>
<head>
  <title>Browse the latest fashion deals and discounts - FashSteals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class=<%= 'grad' if !controller.class.parents.include?(Admin) %>>
<%= google_tag_manager %>

<header class="centered-navigation <%= controller.class.parents.include?(Admin) ? 'yellow' : 'white-transparent' %>" role="banner">
  <%= render 'layouts/header' %>
</header>

<div class="container">
  <% if controller_name == 'deals' && !controller.class.parents.include?(Admin) %>
  <div class = "feed">
  <% end %>
  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
    <br />
    <br />
  <% end %>
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
    <br />
    <br />
  <% end %>
	 <%= yield %>
  <% if controller_name == 'deals' && !controller.class.parents.include?(Admin) %>
  </div>
  <% end %>
</div>

<footer class="footer" role="contentinfo">
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
