<!DOCTYPE html>
<html>
<head>
  <title>FashSteals - Browse the latest fashion deals and discounts</title>
  <meta property="og:description" content="Looking for Fashion? We've got the steals. Browser the latest fashion deals and discounts" />
  <meta property="og:title" content="FashSteals" />
  <meta property="description" content="Looking for Fashion? We've got the steals. Browser the latest fashion deals and discounts" />

  <meta property="og:image" content="/card-deck.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">
  <%= favicon_link_tag(source='favicon.ico') %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="verification" content="70d3afe3ca46f1a43f7ac88b3699da73" />
  <meta name="google-site-verification" content="Hn_edsLIpU3gqsBtBeB4XAsdZg9EXRVE3IkK2FIfZuU" />
  <%= csrf_meta_tags %>
</head>
<body class=<%= '' if !controller.class.parents.include?(Admin) %>>
<%= google_tag_manager %>

<header class="<%= 'yellow' if controller.class.parents.include?(Admin) %>" role="banner">
  <%= render 'layouts/header' %>
</header>

<div class="body-container">

  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
    <br />
    <br />
  <% end %>
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
    <br />
    <br />
  <% end %>
	 <%= yield %>

</div>

<footer class="footer sticky" role="contentinfo">
  <div class="container">
    <div class="content has-text-centered">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</footer>

</body>
</html>
